.previous-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.previous-post h1 {
    font-size: 30px;
    color: white;
}

.previous-post p {
    padding: 5px;
    text-align: center;
    width: 400px;
    word-wrap: break-word;
    background-color: #bdbdbd;
    border: 3px solid #015767;
    border-radius: 10px;
}