.create-post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-post-form h1 {
    font-size: 30px;
    color: white;
}

.create-post-form input {
    width: 350px;
    height: 100px;
    margin-bottom: 15px;
    background-color: #bdbdbd;
    border: 3px solid #015767;
    border-radius: 10px;
    text-align: center;
}

.create-post-form button {
    padding: 3px 20px;
    border: 3px solid #015767;
    border-radius: 5px;
    background-color: #cdcdcd;
}