.create-post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-post-form h1 {
    font-size: 30px;
}

.create-post-form input {
    width: 250px;
    height: 100px;
    margin-bottom: 15px;
    border: 3px solid #cdcdcd;
    border-radius: 10px;
    text-align: center;
}

.create-post-form button {
    border: 3px solid #cdcdcd;
    border-radius: 5px;
    background-color: #cdcdcd;
}